<p id="notice"><%= notice %></p>

<h1>Listing Checkpoints</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Activationcount</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @level.checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.number %></td>
        <td><%= checkpoint.activationCount %></td>
        
        <td><%= link_to 'Show', level_checkpoint_path(@level,checkpoint) %></td>
        <td><%= link_to 'Edit', edit_level_checkpoint_path(@level,checkpoint) %></td>
        <td><%= link_to 'Destroy', level_checkpoint_path(@level,checkpoint), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkpoint', new_level_checkpoint_path %> <br>
<%= link_to 'Back', levels_path %>

